configobj==4.7.2
enum34==1.1.6
futures==3.3.0
ipaddr==2.1.11
kitchen==1.1.1
M2Crypto==0.21.1
meld3==0.6.10
psutil==5.4.3
pycurl==7.43.0.1
pyliblzma==0.5.3
python-ldap==2.4.15
supervisor==3.4.0
typing==3.7.4.1
urlgrabber==3.10.2
python-qpid-proton==0.34.0
pygpgme==0.3
pyxattr==0.5.1
ruamel.ordereddict==0.4.14